<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>


<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="gamesList">
    <ng-template [ngIf]="gamesList.length">
      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredGames, query)" class="alert alert-warning">
        No games found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <!-- Events listing -->
      <section class="list-group">
        
        
        <div
          *ngFor="let game of fs.orderByDate(filteredGames, 'gameDate')"
          class="list-group-item list-group-item-action flex-column align-items-start">
          
          <div class="row">
            <div class="col">

              <button mat-button [routerLink]="['/game', game._id]">
                <strong *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</strong> @ <strong *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</strong>
              </button>
            </div>

              
            <div class="col">{{game.gameDate | date:'longDate'}}</div>
            <div class="col"> 
              
              <span *ngFor="let game_result of game.results; index as resIdx">
                <span fxLayout="row" fxLayoutAlign="space-evenly center" >
                  <span  *ngIf="game_result">{{game_result.status}}</span>
                  <span  *ngIf="getGameScore(game_result, 'A') as awayScore">{{game.awayTeam.nickname }}: {{awayScore.final.abl_runs | number:'1.2-2'}}</span>
                  <span *ngIf="getGameScore(game_result, 'H') as homeScore">{{game.homeTeam.nickname }}: {{homeScore.final.abl_runs | number:'1.2-2'}}</span>
                  
                  <span *ngFor="let loc of _ownerLocs(game)">
                  <button *ngIf="_needsAttest(game, game_result) && _canAttest(game, loc)" type="button" mdbBtn (click)="attest(game, game_result._id, resIdx, loc)"  mdbWavesEffect>
                    <mdb-icon far class="green-text"  size="lg" icon="check-circle"></mdb-icon> Attest as {{loc}} team
                  </button>
                  </span>
                  
                  
                </span>
              </span>

            </div>
          </div>

        </div>
      </section>
    </ng-template>

    <!-- No upcoming public events available -->
    <p *ngIf="!gamesList.length" class="alert alert-info">
      No upcoming public games available.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving game data.
  </p>

</ng-template>

