<!-- src/app/pages/games/games.component.html -->

<div *ngIf="(displayedGames$ | async) as calGames">
  <mat-paginator *ngIf="(paginator$ | async) as pag" [length]="dataLength" [pageSize]="pag.pageSize" [pageSizeOptions]="[1,3,6,12, dataLength]" [pageIndex]="initialPgIdx" hidePageSize="false" aria-label="Game Dates per page"  (page)="pageEvent = handlePage($event)"></mat-paginator>
  <div class="mobileGame">
    <mat-card *ngFor="let tile of calGames" class="calDate">
      <mat-card-header>
      <mat-card-title>{{tile.date | date:'MMM d'}}</mat-card-title>
    </mat-card-header>
      <mat-card-content class="calDateContent">
        <span *ngFor="let game of tile.games">

          <span *ngIf="game.summary.awayTeam == team.nickname then awayGameBlock else homeGameBlock"></span>

          <ng-template #awayGameBlock> @ {{game.summary.homeTeam}}
            <button mat-button [routerLink]="['/game', game._id]" [ngClass]="{'winner': game.summary.winner?.nickname == team.nickname, 'loser': game.summary?.loser?.nickname == team.nickname}">
              <span *ngIf="game.summary.status; then thenAwayBlock else elseBlock"></span>
              <ng-template #thenAwayBlock > {{game.summary.score.away | number: '1.0-1'}}- {{game.summary.score.home | number: '1.0-1'}}</ng-template>

            </button>
          </ng-template>
          <ng-template #homeGameBlock> vs. {{game.summary.awayTeam }}
            <button mat-button [routerLink]="['/game', game._id]" [ngClass]="{'winner': game.summary.winner?.nickname == team.nickname, 'loser': game.summary?.loser?.nickname == team.nickname}">
              <span *ngIf="game.summary.status; then thenHomeBlock else elseBlock"></span>
              <ng-template #thenHomeBlock > {{game.summary.score.home | number: '1.0-1'}}- {{game.summary.score.away | number: '1.0-1'}}</ng-template>

            </button>
           </ng-template>
           <ng-template #elseBlock>Preview</ng-template>


          </span>
    </mat-card-content>
    </mat-card>
</div>

<div *ngFor="let dt of dates">{{dt}}</div>


</div>


