.col {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.row {
  height: auto;
}

.mat-mdc-cell{
  justify-content: flex-start;
}
.mat-mdc-row{
  height:auto !important;
  width: 100%;
  justify-content: space-between;

}
.mat-mdc-header-row{
  width: 100%;

}

.mat-mdc-table {
  width: 100%;
}

.justify-content {
justify-content: space-around;
}

.mat-mdc-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  min-height: 52px;
  padding: 8px;
  justify-content: space-around;

}

.mobileGame {
display: flex;
flex-flow: row;
flex-wrap: wrap;
background-color: lightgray;
justify-content:space-around;
align-items: center;
}



.calDate {
  font-size: medium;
  flex:1;
  flex-basis: 16.66%;
}


@media screen and (max-width: 700px) {
  .calDate {
    flex:1;
    flex-basis: 100%;
  }
}

.winner {
  background-color: lightgreen;
  color: darkgreen
}

.loser {
  background-color: pink;
  color: darkred
}

.calDateContent {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  flex-wrap:nowrap;
  font-size: medium;

  }



.mobileGame .gameHeader {
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  }

  .mobileGame .gameDetail {
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    width: 100%
    }
