<!-- src/app/pages/games/games.component.html -->
<mat-paginator [length]="dataLength" [pageSize]="5" [pageSizeOptions]="[5, dataLength]" hidePageSize="false" aria-label="Games per page"></mat-paginator>
<div  >

  <table mat-table [dataSource]="(games$ | async)" >

    <ng-container matColumnDef="game" >
      <th mat-header-cell *matHeaderCellDef >Game</th>
      <td mat-cell *matCellDef="let game">
        <button mat-button [routerLink]="['/game', game._id]">
          <span class="fw-bold"><span *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</span> @ <span *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</span></span>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="game.gameDate" >
      <th mat-header-cell *matHeaderCellDef >Date</th>
      <td mat-cell *matCellDef="let game">
        <span > {{game.gameDate | date:'longDate'}}</span>

      </td>
    </ng-container>
    <ng-container matColumnDef="game.status" >
      <th mat-header-cell *matHeaderCellDef >Status</th>
      <td mat-cell *matCellDef="let game">
        <span > {{game.gameDate | date:'longDate'}}</span>

      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Attestations</th>
      <td mat-cell *matCellDef="let game">
        <span *ngFor="let game_result of game.results; index as resIdx">
            <span fxLayout="row" fxLayoutAlign="space-evenly center" >
                <span *ngFor="let loc of _ownerLocs(game)">
                    <button *ngIf="_needsAttest(game, game_result) && _canAttest(game, loc)" type="button" mdbBtn (click)="attest(game, game_result._id, resIdx, loc)"  mdbWavesEffect>
                      <mdb-icon far class="green-text"  size="lg" icon="check-circle"></mdb-icon> Attest as {{loc}} team
                    </button>
                    </span>
            </span>
          </span>




      </td>
    </ng-container>
    <ng-container matColumnDef="gameResults">
      <th mat-header-cell *matHeaderCellDef>Results<th>
      <td mat-cell *matCellDef="let game">

        <span *ngFor="let game_result of game.results; index as resIdx">
          <span fxLayout="row" fxLayoutAlign="space-evenly center" >
            <span  *ngIf="game_result">{{game_result.status}}</span>
            <span  *ngIf="getGameScore(game_result, 'A') as awayScore">{{game.awayTeam.nickname }}: {{awayScore.final.abl_runs | number:'1.2-2'}}</span>
            <span *ngIf="getGameScore(game_result, 'H') as homeScore">{{game.homeTeam.nickname }}: {{homeScore.final.abl_runs | number:'1.2-2'}}</span>

          </span>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['game', 'game.gameDate', 'gameResults', 'action' ]"></tr>
    <tr mat-row *matRowDef="let row; columns: ['game', 'game.gameDate', 'gameResults' , 'action'];"></tr>
  </table>
</div>



<!--
<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="gamesList">
    <ng-template [ngIf]="gamesList.length">
      <p *ngIf="fs.noSearchResults(filteredGames, query)" class="alert alert-warning">
        No games found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <section class="list-group">


        <div
          *ngFor="let game of fs.orderByDate(filteredGames, 'gameDate')"
          class="list-group-item d-flex flex-column">

          <div class="row">
            <div class="col">
              <button mat-button [routerLink]="['/game', game._id]">
                <span class="fw-bold"><span *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</span> @ <span *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</span></span>
              </button>
            </div>


            <span class="col ">
              <span > {{game.gameDate | date:'longDate'}}</span>
            </span>
            <div class="col">

              <span *ngFor="let game_result of game.results; index as resIdx">
                <span fxLayout="row" fxLayoutAlign="space-evenly center" >
                  <span  *ngIf="game_result">{{game_result.status}}</span>
                  <span  *ngIf="getGameScore(game_result, 'A') as awayScore">{{game.awayTeam.nickname }}: {{awayScore.final.abl_runs | number:'1.2-2'}}</span>
                  <span *ngIf="getGameScore(game_result, 'H') as homeScore">{{game.homeTeam.nickname }}: {{homeScore.final.abl_runs | number:'1.2-2'}}</span>

                  <span *ngFor="let loc of _ownerLocs(game)">
                  <button *ngIf="_needsAttest(game, game_result) && _canAttest(game, loc)" type="button" mdbBtn (click)="attest(game, game_result._id, resIdx, loc)"  mdbWavesEffect>
                    <mdb-icon far class="green-text"  size="lg" icon="check-circle"></mdb-icon> Attest as {{loc}} team
                  </button>
                  </span>


                </span>
              </span>

            </div>
          </div>

        </div>
      </section>
    </ng-template>

    <p *ngIf="!gamesList.length" class="alert alert-info">
      No upcoming public games available.
    </p>
  </ng-template>

  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving game data.
  </p>

</ng-template> -->

