<div class="row">
  <div class="col-md-5">
    <h2>Players</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let player of players"
        (click)="selectPlayer(player)"
        [class.active]="player === selectedPlayer">
        {{player.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewPlayer()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <player-details
      [player]="selectedPlayer"
      [createHandler]="addPlayer"
      [updateHandler]="updatePlayer"
      [deleteHandler]="deletePlayer">
    </player-details>
  </div>
</div>
