<!-- src/app/pages/team/team-detail/team-detail.component.html -->
<div class="card-body">
  <h2 class="card-title text-center mb-0">Team Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Team Name:</strong>{{ team.location + ' ' + team.nickname }}
  </li>
  <li class="list-group-item">
    <strong>Home Stadium:</strong>{{ team.stadium }} 
  </li>
  <li class="list-group-item">
    <strong>Team owner:</strong>{{ team.owner.name }} || {{ team.owner.email}} 
  </li>
</ul>

<div class="card-body" *ngIf="team.description">
  <p class="card-text lead">No information</p>
</div>

<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/abladmin/team/update', team._id]">Edit</a>
</div>

