<!-- src/app/pages/team/team-detail/team-detail.component.html -->
<div class="card-body">
  <h2 class="card-title text-center mb-0">Team Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Team Name:</strong>{{ team.location + ' ' + team.nickname }}
  </li>
  <li class="list-group-item">
    <strong>Home Stadium:</strong>{{ team.stadium }} 
  </li>
  <li class="list-group-item">
    <strong>Team owners:</strong>
    <span *ngFor="let owner of team.owners">{{ owner.name }} | {{ owner.email }} 
      <span *ngIf="!owner.verified">This is me!<a 
         [routerLink]="['/abladmin/team/update', team._id, 'owner', owner._id]"> Claim Team</a>
      </span>
    </span>
    
  </li>
</ul>

<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <a [routerLink]="['/abladmin/team/update', team._id]">Edit</a>
</div>