<!-- src/app/pages/team/team-detail/team-detail.component.html -->
<div class="card-body">
  <h2 class="card-title text-center mb-0">Team Details</h2>
</div>

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <strong>Team Name:</strong>{{ team.location + ' ' + team.nickname }}
  </li>
  <li class="list-group-item">
    <strong>Home Stadium:</strong>{{ team.stadium }} 
  </li>
  <li class="list-group-item">
    <strong>Team owners:</strong>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let owner of team.owners" >
        <span class="col-8">{{ owner.name }} {{owner.email ? "|" : ''}} {{ owner.email }}</span>
        <span class="col-4" *ngIf="!owner.verified">Is this you? <a [routerLink]="['/team/update', team._id, 'owner', owner._id]"> Claim Team</a></span>
          
        
      </li>
    </ul>
  </li>
</ul>

<div class="card-footer text-right small">
  <a [routerLink]="['/team/update', team._id]">Edit</a>
</div>