<!-- src/app/pages/admin/admin.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>
          <button
            class="btn btn-info"
            type="button"
            (click)="_uploadAllData()"
            >Upload</button>


  <p class="lead">Welcome, {{ auth.userProfile?.name }}! You can mess with games below.</p>
  
  
<div>
  <mat-form-field>
  <mat-label>Data Model</mat-label>
  <mat-select [(ngModel)]="selectedDataType">
    <mat-option *ngFor="let type of dataTypes" [value]="type">
      {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>


<mat-form-field class="example-full-width">
    <input matInput placeholder="Data file name" [(ngModel)]="datafile">
  </mat-form-field>
  
            <button
            class="btn btn-info"
            (click)="_loadData()"
            (type)="button">Load from file</button>
  
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="enter records" [(ngModel)]="dataEntry"></textarea>
  </mat-form-field>

 <button
            class="btn btn-info"
            (click)="_createRec()"
            (type)="button">Create</button>

{{dataEntry}}
<ng-template [ngIf]="utils.isLoaded(loading)">

  
  
  <!-- Events -->
  <ng-template [ngIf]="dataList">
    <ng-template [ngIf]="dataList.length">
      <!-- Search events -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchGames()" />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredGames, query)" class="alert alert-warning">
        No games found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <!-- Events listing -->
      <section class="list-group">
        <div
          *ngFor="let gm of fs.orderByDate(filteredGames, 'startDatetime')"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <a [routerLink]="['/game', gm._id]">
              <h5 class="mb-1" [innerHTML]="gm.gamePk"></h5>
            </a>
             <button
            class="btn btn-info"
            (click)="_saveRecToDB(gm)"
            (type)="button"
              *ngIf="!gm.saved"
                     >Save</button>
<!--             <div class="event-icons">
              <img
                *ngIf="!event.viewPublic"
                class="event-icon"
                title="Private"
                src="/assets/images/eye.svg">
              <img
                *ngIf="utils.eventPast(event.endDatetime)"
                class="event-icon"
                title="Event is over"
                src="/assets/images/calendar.svg">
            </div> -->
          </div>
          <p class="mb-1">
            <strong>Date:</strong>{{gm | json}}
          </p>
        </div>
      </section>
    </ng-template>

    <!-- No events available -->
    <p *ngIf="!dataList.length" class="alert alert-info">
      No games have been created yet.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving event data.
  </p>

</ng-template>
