<div *ngIf="player" class="row">
  <div class="col-md-12">
    <h2 *ngIf="player._id">Player Details</h2>
    <h2 *ngIf="!player._id">New Player</h2>
  </div>
</div>
<div *ngIf="player" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="player-name">Name</label>
      <input class="form-control" name="player-name" [(ngModel)]="player.name" placeholder="Name"/>
    </div>
    <div class="form-group">
      <label for="player-mlbid">MLB ID</label>
      <input class="form-control" name="player-mlbid" [(ngModel)]="player.mlbID" placeholder="11111111"/>
    </div>
    <button class="btn btn-primary" *ngIf="!player._id" (click)="createPlayer(player)">Create</button>
    <button class="btn btn-info" *ngIf="player._id" (click)="updatePlayer(player)">Update</button>
    <button class="btn btn-danger" *ngIf="player._id" (click)="deletePlayer(player._id)">Delete</button>
  </form>
</div>
