<p>{{pageTitle}}</p>

<div *ngIf="draftSseService.draftOrder$ | async as draftData" class="flex-container">
    <div><b>{{draftData.currentPick?.ablTeam.nickname }}</b> are on the clock!</div>
    <div  class="flex-container">
<!--        <div *ngIf="rosterService.preDraftRosters$ | async as rosters" class="selected-team"><mat-select [(value)]="selected_team" ><mat-option *ngFor='let tm of rosters' [value]="tm">{{tm.nickname}}</mat-option></mat-select>
        <span class="flex-container">
          <span *ngFor="let plyr of selected_team?.roster.roster" class="flex-row">
            {{plyr.player.name}} ({{plyr.player.team}} - {{plyr.player.eligible.toString()}})
          </span>
        </span>


      </div> -->
        <div class="right-draft-board">
          <div class="flex-container">
            <div class="flex-row" *ngFor='let draftTm of draftData.teams; let c=index' class="draft-history">
              <div class="header-cell">

                  {{draftTm.ablTeam.nickname}}
              </div>
              </div>
            <div *ngFor='let dr of draftData.rounds; let c=index' class="flex-row">
              <div *ngFor='let pick of dr; let r=index' class="flex-col draft-cell" [ngClass]="{'next-pick': pick.status =='Current', 'no-pick': pick.status == 'Not Allowed'}">
                <span [ngSwitch]="pick.status" class='flex-row'>
                  <span *ngSwitchCase="'Complete'">{{pick.player?.name}} ({{pick.player?.team}} - {{pick.player?.eligible.toString()}})</span>
                  <span *ngSwitchCase="'Skipped'"><button mdbBtn type="button" color="primary" size='sm' (click)= "_removeSkip(pick._id)" class="flex-grow">REMOVE SKIP</button></span>
                  <span *ngSwitchCase="'Pending'"> <button mdbBtn type="button" color="primary" size='sm' (click)= "_skipPick(pick._id)" class="flex-grow">SKIP</button></span>
                  <span *ngSwitchCase="'Current'"> <button mdbBtn type="button" color="primary" size='sm' (click)= "_skipPick(pick._id)" class="flex-grow">SKIP</button></span>
                  <span *ngSwitchCase="'Not Allowed'"> {{pick.status}}</span>
                </span>
              </div>
            </div>

        </div>

        </div>

    </div>
    <div class="players-list flex-container">
      <app-player-list class="container-fluid"
      [players$]="players.allPlayersWithDraft$"
      [colNames]="colNames"
      [ownerPrimaryTeam]="ownerPrimaryTeam"
      defaultAddType="supp_draft"
      [actionEligible]="ownerPrimaryTeam?.nickname == draftData.currentPick?.ablTeam.nickname"
      [currentActor]="draftData.currentPick?.ablTeam.nickname"
      (playerAction)="_handleAction($event, draftData.currentPick)"
      >
      </app-player-list>
  </div>
</div>

