<!-- src/app/pages/game/game-detail/game-detail.component.html -->

<ng-container>
<!-- <div class="card-body">
  <h2 class="card-title text-center mb-0">    <strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</h2>
  
</div>
<hr /> -->
  <mat-card>
  <mat-card-header>
    <mat-card-title>Game</mat-card-title>
    <mat-card-subtitle><strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</mat-card-subtitle>
    <div *ngIf="rosters">
    Winner: {{rosters.result.winner.nickname}}
  </div>
  </mat-card-header>

  <mat-card-content>
    <div class="d-flex justify-content-between" *ngIf="rosters">
      <app-game-team-detail class="flex-fill" [teamLoc]="Away" [roster]="rosters.awayTeam" [teamScore]="rosters.away_score"></app-game-team-detail>   
      <app-game-team-detail class="flex-fill" [teamLoc]="Home" [roster]="rosters.homeTeam" [teamScore]="rosters.home_score"></app-game-team-detail>   
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SAVE</button>
    <button mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>

  



<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <!-- To do: create an /admin/game/update route and service
  <a [routerLink]="['/admin/game/update', game._id]">Edit</a> -->
  Edit
</div>
 </ng-container>