<!-- src/app/pages/game/game-detail/game-detail.component.html -->

<ng-container>
<!-- <div class="card-body">
  <h2 class="card-title text-center mb-0">    <strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</h2>
  
</div>
<hr /> -->
  <mat-card>
  <mat-card-header>
    <mat-card-title><strong>When: </strong>{{ game.gameDate | date : "mediumDate"}}</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="active_result">
        Winner: {{active_result?.winner?.nickname}}
      </div>
      
      <div>
        <span [ngPlural]="game.results.length">
          <ng-template ngPluralCase="=0">There are {{game.results.length}} saved boxscores.</ng-template>
          <ng-template ngPluralCase="=1">There is {{game.results.length}} saved boxscore.</ng-template>
          <ng-template ngPluralCase="other">There are {{game.results.length}} saved boxscores.</ng-template>
        </span>
        <ul>

          <li *ngFor="let res of game.results; index as res_idx">
            <span [ngClass]="{'active-result': (res_idx == active_result_index)}"> {{res_idx}}: {{res.status}} | <a (click)=" _setActiveResult(res_idx)">Go</a> 
              <span *ngIf="_scoreDiff(res_idx)"> | Result has changed</span>
            </span>
          </li>
          <li *ngIf="live_result">
            <span [ngClass]="{'active-result': ( active_result_index == -1)}">System Generated | <a (click)=" _setActiveResult(-1)">Go</a></span>
          </li>
        </ul>
      </div>
    </mat-card-subtitle>
    <mat-slide-toggle
          class="example-margin"
          color="primary"
          [(ngModel)]="editable"
          [disabled]="_opponentHasAttested()"
          (change)="_changeEdit($event)">
        Edit Mode
      </mat-slide-toggle>
  </mat-card-header>

    
    
  <mat-card-content>
    <div class="d-flex table-responsive" *ngIf="active_result">
      
      <span class="p-1 boxscore flex-fill" *ngFor="let box of active_result.scores; index as box_idx">
        {{box.location == 'H' ? "Home" : "Away" }} Team:<strong> {{box.location == 'H' ? game.homeTeam.nickname : game.awayTeam.nickname}}</strong>
        <app-game-team-detail  [roster]="box.players" 
                              [teamScore]="box"  
                              [oppScore]="box_idx == 1 ? active_result.scores[0] : active_result.scores[1]" 
                              [homeTeam]="box.location == 'H'" 
                              [status]="box.status" 
                              [editable]="editable" 
                              (updateScore)="_updateScore($event, box)"></app-game-team-detail>   
      </span>
      
      
      
    </div>

    Attestations: 
    <span *ngFor="let att of active_result?.attestations">
     Attester: {{att.attesterType}}
    <button *ngIf="att.attester == auth.userProfile.sub" type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark" (click)="_removeAttestation(att._id)">
      Remove Attestation
    </button>
    </span>
    
    
    </mat-card-content>
  
    
    
  <mat-card-actions *ngIf="active_result && active_result.status != 'scheduled'">
    <span *ngIf="active_result?.scores"> 
      <span *ngIf="!_scoreCompare(active_result, originalresults[active_result_index])">
          Current result differs from stored result. 
        <span *ngIf="_userHasAttested(); else elseBlock"> Attesting will overwrite stored result. </span>
        <ng-template #elseBlock>Saving will overwrite stored result</ng-template>
      </span>
    </span>
    
    
      <span *ngIf="!_scoreCompare(active_result, live_result)">
          Warning! Current result differs from system-generated result. 
      </span>
    
    <button *ngIf="active_result && _canSave()" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult(false)">
      <mdb-icon far icon="save"></mdb-icon> {{(!_scoreCompare(originalresults[active_result_index], active_result) && active_result._id) ? "Overwrite" : "Save"}} Results
    </button>

    
   <!-- home team attest-->
    <button *ngIf="active_result && _canAttest('home')" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult('home')">
      <i class="far fa-check-square"></i> Save & Attest as HOME team
    </button>
    <!-- away team attest-->
    <button *ngIf="active_result && _canAttest('away')" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult('away')">
      <i class="far fa-check-square"></i> Save & Attest as AWAY team
    </button>
    
  </mat-card-actions>
</mat-card>

  



<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <!-- To do: create an /admin/game/update route and service
  <a [routerLink]="['/admin/game/update', game._id]">Edit</a> -->
  Edit
</div>
 </ng-container>