<!-- src/app/pages/game/game-detail/game-detail.component.html -->

<ng-container>
<!-- <div class="card-body">
  <h2 class="card-title text-center mb-0">    <strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</h2>
  
</div>
<hr /> -->
  <mat-card>
  <mat-card-header>
    <mat-card-title>Game</mat-card-title>
    <mat-card-subtitle><strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</mat-card-subtitle>
    <div *ngIf="rosters">
    Winner: {{rosters.result.winner.nickname}}
  </div>
  </mat-card-header>

  <mat-card-content>
    <div class="d-flex justify-content-around" *ngIf="rosters">
      <div>
        <strong> Away Team:</strong>
        <span>{{rosters.away_score | json}}</span>
        <ul class="list-group list-group-flush">

          <li *ngFor="let plyr of rosters.awayTeam" class="list-group-item">
                <app-player-game-line [player]="plyr"> </app-player-game-line>
          </li>
        </ul>

      </div>
      <div>
        <strong>Home Team</strong>
        <span>{{rosters.home_score | json}}</span>
        <ul class="list-group list-group-flush">
          <li *ngFor="let plyr of rosters.homeTeam" class="list-group-item">
             <app-player-game-line *ngIf="plyr.played" [player]="plyr"> </app-player-game-line>
          </li>
        </ul>  
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>SAVE</button>
    <button mat-button>DELETE</button>
  </mat-card-actions>
</mat-card>

  



<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <!-- To do: create an /admin/game/update route and service
  <a [routerLink]="['/admin/game/update', game._id]">Edit</a> -->
  Edit
</div>
 </ng-container>