<!-- src/app/pages/game/game-detail/game-detail.component.html -->

<ng-container>
<!-- <div class="card-body">
  <h2 class="card-title text-center mb-0">    <strong>When:</strong>{{ game.gameDate | date : "mediumDate"}}</h2>
  
</div>
<hr /> -->
  <mat-card>
  <mat-card-header>
    <mat-card-title><strong>When: </strong>{{ game.gameDate | date : "mediumDate"}}</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="active_result">
        Winner: {{active_result?.winner?.nickname}}
      </div>
      
      <div>
<!--           <span *ngIf="live_result" class="d-block">
            <span [ngClass]="{'active-result': ( active_result_index == -1)}">System Generated Boxscore | <button mat-button color="primary" (click)=" _setActiveResult(-1)">Go</button></span>
          </span>
        

        <ul class="list-group list-group-horizontal">
          <li *ngIf="live_result" class="list-group-item" [ngClass]="{'active': ( active_result_index == -1)}">
            <span >System Generated Boxscore | <button mat-button color="primary" (click)=" _setActiveResult(-1)">Go</button></span>
          </li>
          <li *ngFor="let res of game.results; index as res_idx" class="list-group-item"  [ngClass]="{'active': (res_idx == active_result_index)}">
            <span> {{res.status}} |  <button mat-button color="primary" (click)=" _setActiveResult(res_idx)">Go</button>
              <span *ngIf="_scoreDiff(res_idx)"> | Result has changed</span>
            </span>
          </li>


        </ul> -->
         <ul class="list-group list-group-horizontal">
          
          <li class="list-group-item">
            <span class="d-block">System Generated Boxscore</span>
            <ul class="list-group list-group-horizontal">
              <li *ngIf="live_result" class="list-group-item" [ngClass]="{'active': ( active_result_index == -1)}">
                <button mat-button color="primary" (click)=" _setActiveResult(-1)">Go</button>
              </li>
            </ul>
          </li>
          <li class="list-group-item">
              <span [ngPlural]="game.results.length" class="d-block">
                <ng-template ngPluralCase="=0">There are {{game.results.length}} saved boxscores.</ng-template>
                <ng-template ngPluralCase="=1">There is {{game.results.length}} saved boxscore.</ng-template>
                <ng-template ngPluralCase="other">There are {{game.results.length}} saved boxscores.</ng-template>
              </span>
            <ul class="list-group list-group-horizontal">
              <li *ngFor="let res of game.results; index as res_idx" class="list-group-item"  [ngClass]="{'active': (res_idx == active_result_index)}">
                <span> {{res.status}} |  <button mat-button color="primary" (click)=" _setActiveResult(res_idx)">Go</button>
                  <span *ngIf="_scoreDiff(res_idx)"> | Result has changed</span>
                </span>
              </li>
            </ul>
          </li>

        </ul>
        
        
        
        
      </div>
    </mat-card-subtitle>

  </mat-card-header>

    
    
  <mat-card-content>
        <mat-slide-toggle
          class="example-margin"
          color="primary"
          [(ngModel)]="editable"
          [disabled]="_opponentHasAttested()"
          (change)="_changeEdit($event)">
        Edit Mode
      </mat-slide-toggle>
    <div class="d-flex table-responsive" *ngIf="active_result">
      
      <span class="p-1 boxscore flex-fill" *ngFor="let box of active_result.scores; index as box_idx">
        {{box.location == 'H' ? "Home" : "Away" }} Team:<strong> {{box.location == 'H' ? game.homeTeam.nickname : game.awayTeam.nickname}}</strong>
        <app-game-team-detail  [roster]="box.players" 
                              [teamScore]="box"  
                              [oppScore]="box_idx == 1 ? active_result.scores[0] : active_result.scores[1]" 
                              [homeTeam]="box.location == 'H'" 
                              [status]="box.status" 
                              [editable]="editable" 
                              (updateScore)="_updateScore($event, box)"></app-game-team-detail>   
      </span>
      
      
      
    </div>


    
    
    </mat-card-content>
  
    
    
  <mat-card-actions *ngIf="active_result && active_result.status != 'scheduled'">
    

    
    Attestation History: 
    <span *ngFor="let att of active_result?.attestations" class="d-block">
     {{att.attesterType | titlecase}} team has attested. 
      <button *ngIf="_teamOwner(att.attesterType)" type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark" (click)="_removeAttestation(att._id)">
        Remove
      </button>
    </span>
        
    
    
    <div class="alert alert-warning" role="alert" *ngIf="activeDifference">
      Warning! Current result differs from system-generated result. 
    </div>
    <span *ngIf="active_result?.scores"> 
      <span class="alert alert-success" role="alert" *ngIf="activeChanged">
          Current result differs from stored result. 
        <span *ngIf="_userHasAttested(); else elseBlock"> Attesting will overwrite stored result. </span>
        <ng-template #elseBlock>Saving will overwrite stored result</ng-template>
      </span>
    </span>
    
    <button *ngIf="active_result && _canSave()" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult(false)">
      <mdb-icon far icon="save"></mdb-icon> {{(activeDifference && active_result._id) ? "Overwrite" : "Save"}} Results
    </button>

    <span>Home Attestations: </span>
    <span *ngFor="let att of _teamAttestationsActiveResult('home')">
    {{att | json}}
    </span>
   <!-- home team attest-->
    <button *ngIf="active_result && _canAttest('home')" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult('home')">
      <i class="far fa-check-square"></i> Save & Attest as HOME team
    </button>
    
    
    
    <span>Away Attestations: </span>
    <span *ngFor="let att of _teamAttestationsActiveResult('away')">
    {{att | json}}
    </span>
    
    <!-- away team attest-->
    <button *ngIf="active_result && _canAttest('away')" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult('away')">
      <i class="far fa-check-square"></i> Save & Attest as AWAY team
    </button>
    
    
    

    
  </mat-card-actions>
</mat-card>

  



<div *ngIf="auth.isAdmin" class="card-footer text-right small">
  <!-- To do: create an /admin/game/update route and service
  <a [routerLink]="['/admin/game/update', game._id]">Edit</a> -->
  Edit
</div>
 </ng-container>