


<div class="btn-group shadow-0" role="group">
 <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="addFilterProp({'ablstatus': 'available'})">Available</button>
 <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="addFilterProp({'ablstatus': 'taken'})">Taken</button>
 <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="addFilterProp({'ablstatus': 'all'})">All</button>
</div>

<mat-slide-toggle *ngIf="auth.isAdmin"

         color="primary"
         checked="false"
         [(ngModel)] = "advancedMode"
         >
       Advanced Mode
</mat-slide-toggle>

<div class="player-table-container" >

         <table mat-table [dataSource]="playerData$ | async" class="example-table"
                matSort matSortActive="abl_runs" matSortDisableClear matSortDirection="desc">

           <ng-container matColumnDef="name" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>Player</th>
             <td mat-cell *matCellDef="let row">       <strong>{{row.name}}</strong>
             </td>
           </ng-container>

           <ng-container matColumnDef="mlbID" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>MLB Id</th>
             <td mat-cell *matCellDef="let row">{{row.mlbID}}</td>
           </ng-container>
           <ng-container matColumnDef="ablstatus.ablTeam.nickname" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>ABL Team</th>
             <td mat-cell *matCellDef="let row">{{row.ablstatus?.ablTeam ? row.ablstatus.ablTeam.nickname: ''}}</td>
           </ng-container>
           <ng-container matColumnDef="ablstatus.acqType" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>Acq</th>
             <td mat-cell *matCellDef="let row">{{row.ablstatus?.acqType ? row.ablstatus.acqType : ''}}</td>
           </ng-container>
           <ng-container matColumnDef="position" >

             <th mat-header-cell *matHeaderCellDef>Positions</th>
             <td mat-cell *matCellDef="let row">{{row.eligible?.join(",")}}</td>
           </ng-container>
           <ng-container matColumnDef="team" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>MLB Team</th>
             <td mat-cell *matCellDef="let row">{{row.team}}</td>
           </ng-container>
           <ng-container matColumnDef="status" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>Status</th>
             <td mat-cell *matCellDef="let row">
               <span *ngIf="!row.status" class="alert alert-danger" role="alert">Not on 40-man roster</span>
               <span *ngIf="row.status && row.status != 'Active'" class="alert alert-warning" role="alert">{{row.status}}</span>
               <span *ngIf="row.status == 'Active'" class="alert alert-success" role="alert">{{row.status}}</span>

             </td>
           </ng-container>

           <ng-container matColumnDef="lastStatUpdate" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>Updated</th>
             <td mat-cell *matCellDef="let row">{{row.lastStatUpdate | date:'shortDate'}}</td>
           </ng-container>

           <ng-container matColumnDef="abl_runs" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>ABL Runs</th>
             <td mat-cell *matCellDef="let row">{{row.abl_runs | number:'1.2-2'}}</td>
           </ng-container>

           <ng-container matColumnDef="stats.batting.gamesPlayed" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>G</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.gamesPlayed}}</td>
           </ng-container>

           <ng-container matColumnDef="stats.batting.atBats" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>AB</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.atBats}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.hits" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>H</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.hits}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.doubles" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>2B</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.doubles}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.triples" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>3B</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.triples}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.homeRuns" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>HR</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.homeRuns}}</td>
           </ng-container>
           <ng-container matColumnDef="bb" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>BB</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.baseOnBalls + row.stats?.batting?.intentionalWalks}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.hitByPitch" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>HBP</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.hitByPitch}}</td>
           </ng-container>
         <ng-container matColumnDef="stats.batting.stolenBases" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>SB</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.stolenBases}}</td>
           </ng-container>
           <ng-container matColumnDef="stats.batting.caughtStealing" >
             <th mat-header-cell *matHeaderCellDef  mat-sort-header>CS</th>
             <td mat-cell *matCellDef="let row">{{row.stats?.batting?.caughtStealing}}</td>
           </ng-container>
           <ng-container matColumnDef="blank" >
             <th mat-header-cell *matHeaderCellDef></th>

           </ng-container>

           <ng-container matColumnDef="action">
             <th mat-header-cell *matHeaderCellDef>Action</th>
             <td mat-cell *matCellDef="let row">
               <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="_addPlayerToTeam(row, ownerPrimaryTeam)" *ngIf="!row.ablstatus?.ablTeam && (advancedMode || (!draftMode && ownerPrimaryTeam && actionEligible))">
                 <mdb-icon fas icon="user-plus"></mdb-icon>
               </button>
               <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="_dropPlayerFromTeam(row)" *ngIf="row.ablstatus.onRoster && advancedMode && ownerPrimaryTeam">
                 <mdb-icon fas icon="user-times"></mdb-icon>
               </button>
               <button mdbBtn type="button" color="primary" mdbWavesEffect (click)= "_addPlayerToTeam(row, currentActor)" *ngIf="!row.ablstatus?.ablTeam && (advancedMode || (draftMode && ownerPrimaryTeam))">
                Draft Player to {{currentActor}}
               </button>
<!--                 <button mdbBtn type="button" mdbWavesEffect (click)="_refreshMLBStats(row)" *ngIf="advancedMode">
                 <mdb-icon fas icon="rotate"></mdb-icon>
               </button> -->
               <mat-checkbox
                   class="example-margin"
                   [(ngModel)]="row.draftMe"
                   *ngIf="draftMode">
                 Include in draft
               </mat-checkbox>
             </td>
             </ng-container>

           <!-- Filter setups for various columns -->
           <ng-container matColumnDef="acqFilter">
             <th mat-header-cell *matHeaderCellDef>
               <mat-select placeholder="Type" (selectionChange)="addFilterProp({'acqType': $event.value})">
                   <mat-option> Any </mat-option>
                   <mat-option *ngFor="let acqType of ['draft', 'pickup', 'supp_draft']" [value]="acqType">
                     {{ acqType }}
                   </mat-option>
                 </mat-select>
             </th>
           </ng-container>
           <ng-container matColumnDef="posFilter">
               <th mat-header-cell *matHeaderCellDef>   <mat-select placeholder="Pos" (selectionChange)="addFilterProp({'position': $event.value})">
                     <mat-option> Any </mat-option>
                     <mat-option *ngFor="let pos of ['1B', '2B', '3B', 'SS', 'OF', 'C', 'DH']" [value]="pos">
                       {{ pos }}
                     </mat-option>
                   </mat-select>
               </th>
             </ng-container>
             <ng-container matColumnDef="statusFilter">
               <th mat-header-cell *matHeaderCellDef>   <mat-select placeholder="Status" (selectionChange)="addFilterProp({'status': $event.value})">
                     <mat-option> Any </mat-option>
                     <mat-option *ngFor="let status of dispStatuses" [value]="status">
                       {{ status }}
                     </mat-option>
                   </mat-select>
               </th>
             </ng-container>

           <ng-container matColumnDef="nameFilter">
               <th mat-header-cell *matHeaderCellDef>
                 <mat-form-field class="filter-field">
                    <mat-label>Search by name</mat-label>
                   <input matInput type="text" [(ngModel)]="value" (keyup)="addFilterProp({'name': value})">
                   <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; clearFilterProp('name')">
                     <mat-icon>close</mat-icon>
                   </button>
                 </mat-form-field>
               </th>
             </ng-container>
             <ng-container matColumnDef="gFilter">
              <th mat-header-cell *matHeaderCellDef>   <mat-select placeholder="G" (selectionChange)="addFilterProp({'g': $event.value})">
                    <mat-option *ngFor="let g of [0, 10,20,50]" [value]="g">
                      {{ g }}
                    </mat-option>
                  </mat-select>
              </th>
            </ng-container>
            <ng-container matColumnDef="abFilter">
              <th mat-header-cell *matHeaderCellDef>   <mat-select placeholder="AB" (selectionChange)="addFilterProp({'ab': $event.value})">
                    <mat-option *ngFor="let ab of [0, 10,20,50]" [value]="ab">
                      {{ ab }}
                    </mat-option>
                  </mat-select>
              </th>
            </ng-container>




           <tr mat-header-row *matHeaderRowDef="['nameFilter', 'blank', 'blank', 'acqFilter', 'posFilter', 'blank', 'statusFilter', 'blank', 'blank', 'gFilter', 'abFilter']"></tr>
           <tr mat-header-row *matHeaderRowDef="colNames"></tr>
           <tr mat-row *matRowDef="let row; columns: colNames"></tr>


         </table>
     </div>

     <div *ngIf="loading"
        style="display: flex; justify-content: center; align-items: center; background: white;">
        <mat-progress-spinner
          color="primary"
          mode="indeterminate">
        </mat-progress-spinner>
      </div>

     <mat-paginator [length]="resultLength" [pageSize]="30" aria-label="Players per page"></mat-paginator>



 <!-- Error loading players -->
 <p *ngIf="error" class="alert alert-danger">
   <strong>Oops!</strong> There was an error retrieving player data.
 </p>

