<div class="row">
  <div class="col-md-5">
    <h2>Owners</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let owner of owners"
        (click)="selectOwner(owner)"
        [class.active]="owner === selectedOwner">
        {{owner.name}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewOwner()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <owner-details
      [owner]="selectedOwner"
      [createHandler]="addOwner"
      [updateHandler]="updateOwner"
      [deleteHandler]="deleteOwner">
    </owner-details>
  </div>
</div>
