<!-- src/app/app.component.html -->
<div class="layout-overflow">
  <div
    class="layout-canvas"
    [ngClass]="{ 'nav-open': navOpen, 'nav-closed': !navOpen }"
    [style.min-height]="minHeight">

    <!-- HEADER -->
    <app-header (navToggled)="navToggledHandler($event)"></app-header>

<!--    <h1>Angular Router</h1>
 <nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
      <li><a routerLink="/owners" routerLinkActive="active">Owners</a></li>
      <li><a routerLink="/players" routerLinkActive="active">Players</a></li>
      <li><a routerLink="/owners/roster" routerLinkActive="active">Rosters</a></li>
      <li><a routerLink="/owners/detail" routerLinkActive="active">Roster Detail</a></li>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/owners2">OwnersList</a></li>
      
    </ul>
  
  
</nav> -->
    <!-- CONTENT -->
    <div id="layout-view" class="layout-view">
      <router-outlet></router-outlet>
    </div>
<app-messages></app-messages>

    <!-- FOOTER -->
    <app-footer></app-footer>

  </div> <!-- /.layout-canvas -->
</div> <!-- /.layout-overflow -->


