<!-- src/app/pages/team/roster/roster.component.html -->
<div class="card-body">
  <h2 class="card-title text-center mb-0">Roster</h2>
</div>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>



<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error</strong> Lineup not saved.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<mat-card class="example-result-card" *ngIf='lineup'>
  
  <mat-form-field color="accent" appearance="fill">
    <mat-label>Roster Date</mat-label>
    <input matInput [matDatepicker]="roster_date" [max]="currentRosterDate()" (dateChange)="_date_changed($event)">
    <mat-datepicker-toggle matSuffix [for]="roster_date"></mat-datepicker-toggle>
    <mat-datepicker #roster_date></mat-datepicker>
  </mat-form-field>
  
  
  <mat-card-content>
    
    <section *ngIf="create_lineup">
      <mat-form-field>
        <mat-label>Set Effective Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="current_roster.effectiveDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </section>
    
  </mat-card-content>

</mat-card>
    


<span *ngIf='current_roster'> 
  Roster First Effective Date: {{actualRosterEffectiveDate(current_roster.effectiveDate) | date: "mediumDate"}}
  <angular2csv [data]="_getDLFile()" [filename]="dlFileName()" [options]="dlOptions"></angular2csv>

</span>

<span *ngIf="current_roster">

<app-team-roster [lineupId]="lineup._id"
                 [lineup]="current_roster"
                 [originalLineup] = "active_roster"
                 [editable]="editable()"
                 (updated)="_updateRoster($event)"
                 (create)="_createNewRoster($event)"
                 ></app-team-roster>
</span>


<mat-card class="example-result-card" *ngIf='lineup'>
  <mat-card-content>
        <section>
          <mat-slide-toggle
              class="example-margin"
              [color]="primary"
              [checked]="false"
              [disabled]="!_isAdmin()"
              [(ngModel)]="edit_lineup">
            Edit (Admin only)
          </mat-slide-toggle>
        </section>
  </mat-card-content>
</mat-card>



<!-- <button (click)="_updateRoster()" *ngIf="editable()">
  Update
</button> -->

