<!-- src/app/pages/team/roster/roster.component.html -->
<div class="card-body">
  <h2 class="card-title text-center mb-0">Roster</h2>
</div>

<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>



<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error</strong> Lineup not saved.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<mat-card class="example-result-card" *ngIf='lineup'>
  
  <mat-card-content>
       <mat-slider
        class="example-margin"
        [disabled]="false"
        [invert]="true"
        [max]="lineup.priorRosters.length"
        [min]="0"
        [step]="1"
        [thumbLabel]="true"
        [tickInterval]="1"
        [vertical]="false"
        [displayWith]="formatLabel(lineup)"
        (change)="toggleLineup($event)"
                   >
    </mat-slider>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="active_effective_date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
  </mat-card-content>
</mat-card>


<span *ngIf='lineup'> Prior Rosters: {{lineup.priorRosters.length}}</span>
<span *ngIf="lineup">
<app-team-roster [lineupId]="lineup._id"
                 [lineup]="active_roster" 
                 [editable]="editable()"
                 (updated)="_updateRoster($event)"
                 ></app-team-roster>
</span>

<!-- <button (click)="_updateRoster()" *ngIf="editable()">
  Update
</button> -->

