<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="Standard">Basic</mat-tab>
  <mat-tab label="Advanced">Advanced Content</mat-tab>
</mat-tab-group>



<span class="d-flex justify-content-center d-sm-none">Summarized for mobile. Rotate device to see all details.</span>
        <div class="example-table-container" >

          <table mat-table [dataSource]="standingsData$ | async" class="example-table"
                 matSort matSortActive="wpct" matSortDisableClear matSortDirection="desc"
                 (matSortChange)="sortChange($event)" >

            <ng-container matColumnDef="team" >
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>Team</th>
              <td mat-cell *matCellDef="let row">
                <a [routerLink]="['/team', row.tm._id]"><strong>{{row.tm.nickname }}</strong> </a>
              </td>
            </ng-container>

            <ng-container matColumnDef="g">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>G</th>
              <td mat-cell *matCellDef="let row">{{row.g}}</td>
            </ng-container>


            <ng-container matColumnDef="w">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>W</th>
              <td mat-cell *matCellDef="let row">{{row.w}}</td>
            </ng-container>

            <ng-container matColumnDef="l">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>L</th>
              <td mat-cell *matCellDef="let row">{{row.l}}</td>
            </ng-container>

             <ng-container matColumnDef="wpct">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>Win%</th>
              <td mat-cell *matCellDef="let row">{{row.w / row.g | number: '1.3-3'}}</td>
            </ng-container>

            <ng-container matColumnDef="gb">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header>GB</th>
              <td mat-cell *matCellDef="let row">{{ row.gb != 0 ? (row.gb | number: '1.1-1') : '-'}}</td>
            </ng-container>

            <ng-container matColumnDef="abl">
              <th mat-header-cell *matHeaderCellDef  mat-sort-header class="d-none d-sm-table-cell">Avg Runs</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.avg_runs | number: '1.2-2'}}</td>
            </ng-container>

             <ng-container matColumnDef="ab">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">AB</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.ab }}</td>
            </ng-container>
             <ng-container matColumnDef="h">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">H</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.h }}</td>
            </ng-container>
            <ng-container matColumnDef="2b">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">2B</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row['2b'] }}</td>
            </ng-container>

            <ng-container matColumnDef="3b">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">3B</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row['3b'] }}</td>
            </ng-container>
                        <ng-container matColumnDef="hr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">HR</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row['hr'] }}</td>
            </ng-container>
            <ng-container matColumnDef="bb">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">BB + HBP</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.bb + row.hbp }}</td>
            </ng-container>
            <ng-container matColumnDef="sac">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">SAC + SF</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.sac+row.sf }}</td>
            </ng-container>
            <ng-container matColumnDef="sb">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">SB</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.sb }}</td>
            </ng-container>
            <ng-container matColumnDef="cs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">CS</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.cs }}</td>
            </ng-container>
            <ng-container matColumnDef="sb%">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">SB%</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.sb / (row.cs + row.sb) | percent:'0.2-2' }}</td>
            </ng-container>


            <ng-container matColumnDef="e">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  class="d-none d-sm-table-cell">ERR</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.e }}</td>
            </ng-container>

            <ng-container matColumnDef="bat_avg">
              <th mat-header-cell *matHeaderCellDef mat-sort-header  class="d-none d-sm-table-cell">Bat Avg</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.h / row.ab | number:'1.3-3' }}</td>
            </ng-container>

            <ng-container matColumnDef="slg_pct">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">SLG</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{(row.h + row['2b'] + 2*row['3b'] + 3*row.hr) / row.ab | number:'1.3-3' }}</td>
            </ng-container>


            <ng-container matColumnDef="era">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">ERA</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.era | number:'1.2-2' }}</td>
            </ng-container>
            <ng-container matColumnDef="hr_allowed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-sm-table-cell">HR Allowed</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.hr_allowed }}</td>
            </ng-container>
            <ng-container matColumnDef="l10">
              <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">L10</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.l10.w +'-' + row.l10.l }}</td>
            </ng-container>
            <ng-container matColumnDef="streak">
              <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">STR</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.streak.strType + row.streak.count | uppercase}}</td>
            </ng-container>
            <ng-container matColumnDef="dougluckw">
              <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">DougLuck W</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.AdvancedStandings.avgW | number:'1.3-3' }}</td>
            </ng-container>
            <ng-container matColumnDef="dougluckl">
              <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">DougLuck L</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.AdvancedStandings.avgL | number:'1.3-3'}}</td>
            </ng-container>
            <ng-container matColumnDef="dougluckExcessW">
              <th mat-header-cell *matHeaderCellDef class="d-none d-sm-table-cell">Lucky Wins</th>
              <td mat-cell *matCellDef="let row" class="d-none d-sm-table-cell">{{row.AdvancedStandings.avgL - row.w | number:'1.3-3'}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="colNames"></tr>
            <tr mat-row *matRowDef="let row; columns: colNames"></tr>
          </table>
      </div>

<!--       <mat-paginator [length]="sortedStandings.length" [pageSize]="30" aria-label="Some label"></mat-paginator> -->

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving standings data.
  </p>
