<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="standings">
    <ng-template [ngIf]="standings.length">
      <ng-container class ="table-responsive">
        <table mdbTable>
          <thead class="primary-color-dark white-text">
            <tr>
              <th *ngFor="let head of headings" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let team of standings">
              <th scope="row">
                <a [routerLink]="['/team', team._id]">
                  <strong *ngIf="team">{{team.tm.nickname }}</strong> 
                </a>
              </th>

              <td>{{team.g}}</td>
              <td>{{team.w}}</td>
              <td>{{team.l}}</td>
              <td>{{team.w / team.g | number: '1.3-3'}}</td>
                            <td>{{team.abl_runs | number: '1.3-3'}}</td>
                            <td>{{team.ab | number: '1.0-0'}}</td>
                            <td>{{team.h | number: '1.0-0'}}</td>
                            <td>{{team['2b'] | number: '1.0-0'}}</td>
                            <td>{{team['3b'] | number: '1.0-0'}}</td>
                            <td>{{team.hr | number: '1.0-0'}}</td>
                            <td>{{team.bb + team.hbp | number: '1.0-0'}}</td>
                            <td>{{team.sac + team.sf | number: '1.0-0'}}</td>
                            <td>{{team.sb | number: '1.0-0'}}</td>
                            <td>{{team.cs | number: '1.0-0'}}</td>
                            <td>{{team.e | number: '1.0-0'}}</td>
                            <td>{{team.era | number: '1.3-3'}}</td>
                            <td>{{team.hr_allowed | number: '1.0-0'}}</td>
              

            </tr>
          </tbody>
        </table>
     </ng-container>
    </ng-template>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving game data.
  </p>

</ng-template>
