<div class="row">
  <div class="col-md-5">
    <h2>Rosters</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let roster of rosters"
        (click)="selectRoster(roster)"
        [class.active]="roster === selectedRoster">
        {{roster.teamId}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewRoster()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <roster-details
      [roster]="selectedRoster"
      [createHandler]="addRoster"
      [updateHandler]="updateRoster"
      [deleteHandler]="deleteRoster">
    </roster-details>
  </div>
</div>
