
      <div >

        
        <table class="table table-responsive table-sm">
          <thead>
            <tr>
              
              <th scope="col">Pos</th>
              <th scope="col">Player</th>
              <th scope="col">G</th>
              <th scope="col">AB</th>
              <th scope="col"> H </th>
              <th scope="col" > 2B </th>
              <th scope="col" > 3B </th>
              <th scope="col" > HR </th>
              <th scope="col" > BB </th>
              <th scope="col" > HBP </th>
              <th scope="col" > Sac </th>
              <th scope="col" > SF </th>
              <th scope="col" > SB </th>
              <th scope="col" > CS </th>
              <th scope="col" > ERR </th>
              <th scope="col" >  Runs </th>

            </tr>
          </thead>
          <tbody *ngIf="status=='Final'"  
                 cdkDropList
                 #activeList="cdkDropList"
                 [cdkDropListData]="active"
                 [cdkDropListConnectedTo]="[benchList]"
                 (cdkDropListDropped)="drop($event)">
    
            <tr  *ngFor="let player of active ; index as i"  cdkDrag [ngClass]="(player.ablstatus != 'active' ? 'table-dark': '')">
              
              <th scope="row">{{player.playedPosition}} | {{player.ablPlayedType}}</th>
              <td>{{player.player.name}} <small>({{player.player.position}} - {{player.player.team}})</small></td>
              <td>{{player.dailyStats ?  player.dailyStats.g : 0 }} </td>
              <td> {{player.dailyStats ?  player.dailyStats.ab : 0 }} </td>
              <td> {{player.dailyStats ?  player.dailyStats.h : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats['2b'] : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats['3b'] : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.hr : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.bb: 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.hbp : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.sac : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.sf : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.sb : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.cs : 0 }} </td>
              <td >{{player.dailyStats ?  player.dailyStats.e : 0 }} </td>
              <td >{{(player.dailyStats ?  player.dailyStats.abl_score?.abl_runs : 0) | number:'1.2-2' }} </td>

            </tr>
            <tr>
              <td scope="row" colspan =2>Regulation Totals</td>
              <td><em> {{teamScore.regulation?.g }} </em> </td>
              <td><em> {{teamScore ?  teamScore.regulation?.ab : 0 }} </em></td>
              <td> <em>{{teamScore ?  teamScore.regulation?.h : 0 }} </em></td>
              <td ><em>{{teamScore.regulation ?  teamScore.regulation['2b'] : 0 }} </em></td>
              <td ><em>{{teamScore.regulation ?  teamScore.regulation['3b'] : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.hr : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.bb: 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.hbp : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sac : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sf : 0 }}</em> </td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sb : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.cs : 0 }}</em> </td>
              <td ><em>{{teamScore ?  teamScore.regulation?.e : 0 }}</em> </td>
              <td ><em>{{(teamScore ? teamScore.regulation?.abl_runs : 0) | number:'1.2-2' }}</em> </td>
            </tr>
            <tr>
              <th scope="row" colspan =2>Game Totals</th>
              <th>  {{teamScore.final?.g }} </th>
              <th> {{teamScore ?  teamScore.final?.ab : 0 }} </th>
              <th> {{teamScore ?  teamScore.final?.h : 0 }} </th>
              <th >{{teamScore.final ?  teamScore.final['2b'] : 0 }} </th>
              <th >{{teamScore.final ?  teamScore.final['3b'] : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.hr : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.bb: 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.hbp : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sac : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sf : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sb : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.cs : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.e : 0 }} </th>
              <th >{{(teamScore ? teamScore.final?.abl_runs : 0) | number:'1.2-2' }} </th>
            </tr>
            <tr>
              <th scope="row" colspan =16 class="text-center">
                <button mat-button color="primary" type="button" (click)="showBench = !showBench">
                  Bench (click to expand/collapse)
                </button>
              </th>
            </tr>


          </tbody>
            <tbody *ngIf="showBench || status != 'Final'" 
                   cdkDropList
                  #benchList="cdkDropList"
                  [cdkDropListData]="bench"
                  [cdkDropListConnectedTo]="[activeList]"
                  (cdkDropListDropped)="drop($event)"
                   >
              
            <tr *ngFor="let player of bench; index as i" [ngClass]="(player.ablstatus != 'active' && status == 'Final' ? 'table-dark': '')">
              
              <th scope="row">{{player.playedPosition || (status == 'Final' ? "B" : player.lineupPosition)}}</th>
              <td>{{player.player.name}} <small>({{player.player.position}} - {{player.player.team}})</small></td>
              <td>{{ player.dailyStats?.g }} </td>
              <td> {{ player.dailyStats?.ab }} </td>
              <td> {{ player.dailyStats?.h }} </td>
              <td >{{ player.dailyStats ? player.dailyStats['2b'] : '' }} </td>
              <td >{{ player.dailyStats ? player.dailyStats['3b'] : '' }} </td>
              <td >{{  player.dailyStats?.hr }} </td>
              <td >{{ player.dailyStats?.bb}} </td>
              <td >{{ player.dailyStats?.hbp  }} </td>
              <td >{{ player.dailyStats?.sac  }} </td>
              <td >{{ player.dailyStats?.sf  }} </td>
              <td >{{ player.dailyStats?.sb  }} </td>
              <td >{{ player.dailyStats?.cs  }} </td>
              <td >{{ player.dailyStats?.e  }} </td>
              <td >{{ player.dailyStats?.abl_score?.abl_runs  | number:'1.2-2' }} </td>

            </tr>

          </tbody>  

            <tfoot>

          </tfoot>
        </table>

        
        
      </div>