      <div >
        <ng-container  cdkDropListGroup>
        <table class="table table-responsive table-sm table-editable table-full">
          <thead>
            <tr>
              
              <th scope="col">Pos</th>
              <th scope="col">Player</th>
              <th scope="col">G</th>
              <th scope="col">AB</th>
              <th scope="col"> H </th>
              <th scope="col" > 2B </th>
              <th scope="col" > 3B </th>
              <th scope="col" > HR </th>
              <th scope="col" > BB </th>
              <th scope="col" > HBP </th>
              <th scope="col" > Sac </th>
              <th scope="col" > SF </th>
              <th scope="col" > SB </th>
              <th scope="col" > CS </th>
              <th scope="col" > ERR </th>
              <th scope="col" > ABLPts </th>
              <th scope="col" >  Runs </th>

            </tr>
          </thead>
          
          <tbody *ngIf="status!='scheduled'"
                     cdkDropList
                 [cdkDropListDisabled]="!editable"
                  [cdkDropListData]="active"
                  (cdkDropListDropped)="drop($event)"
                 >
    
            <tr  *ngFor="let player of active ; index as i"  cdkDrag [ngClass]="(player.ablstatus != 'active' ? 'table-dark': '')"
                (cdkDragStarted)="toggleDrag('active')"
                (cdkDragEnded)="toggleDrag('')"
                
                >
              <div class="example-custom-placeholder" *cdkDragPlaceholder>Move {{player.player.name}} Here</div>
              <th scope="row">
                <span *ngIf="editable">
                  <select [(ngModel)]="player.playedPosition"> 
                      <option *ngFor="let pos of ['1B', '2B', 'SS', '3B', 'OF', 'C', 'DH', 'XTRA']" [value]="pos" >{{pos}}</option> 
                  </select> 
                   </span>
                <span *ngIf="!editable">{{player.playedPosition}} </span>|
                <span *ngIf="editable">
                  <select [(ngModel)]="player.ablPlayedType"> 
                      <option *ngFor="let playType of ['STARTER', 'SUB', 'XTRA']" [value]="playType" >{{playType}}</option> 
                  </select> 

                   </span>
                <span *ngIf="!editable"> {{player.ablPlayedType}} </span>
              </th>
              <td>
                <span [contentEditable]="editable" (blur)="updateList(i, player.player, 'name', $event)" (mousedown)="$event.stopPropagation()">{{player.player.name}}</span> <small> ({{player.player.eligible?.join()}} - {{player.player.team}})</small></td>
              <td>
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'g', $event)" (mousedown)="$event.stopPropagation()">{{player.dailyStats ?  player.dailyStats.g : 0 }} </span>
              </td>
              <td> 
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'ab', $event, true)" (mousedown)="$event.stopPropagation()">
                {{player.dailyStats ?  player.dailyStats.ab : 0 }} 
                </span>
              </td>
              <td> 
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'h', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.h : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, '2b', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats['2b'] : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, '3b', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats['3b'] : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'hr', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.hr : 0 }}
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'bb', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.bb: 0 }}
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'hbp', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.hbp : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'sac', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.sac : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'sf', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.sf : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'sb', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.sb : 0 }}
                </span> 
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'cs', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.cs : 0 }} 
                </span>
              </td>
              <td >
                <span [contentEditable]="editable" (blur)="updateList(i, player.dailyStats, 'e', $event, true)" (mousedown)="$event.stopPropagation()">
                  {{player.dailyStats ?  player.dailyStats.e : 0 }} 
                </span>
              </td>
              <td >{{player.dailyStats ?  player.dailyStats.abl_score?.abl_points : 0 }} </td>
              <td >{{(player.dailyStats ?  player.dailyStats.abl_score?.abl_runs : 0) | number:'1.2-2' }} </td>

            </tr>

          </tbody>
            <tbody>
            <tr>
              <td scope="row" colspan =2>Regulation Totals</td>
              <td><em> {{teamScore.regulation?.g }} </em> </td>
              <td><em> {{teamScore ?  teamScore.regulation?.ab : 0 }} </em></td>
              <td> <em>{{teamScore ?  teamScore.regulation?.h : 0 }} </em></td>
              <td ><em>{{teamScore.regulation ?  teamScore.regulation['2b'] : 0 }} </em></td>
              <td ><em>{{teamScore.regulation ?  teamScore.regulation['3b'] : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.hr : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.bb: 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.hbp : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sac : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sf : 0 }}</em> </td>
              <td ><em>{{teamScore ?  teamScore.regulation?.sb : 0 }} </em></td>
              <td ><em>{{teamScore ?  teamScore.regulation?.cs : 0 }}</em> </td>
              <td ><em>{{teamScore ?  teamScore.regulation?.e : 0 }}</em> </td>
              <td >{{teamScore ?  teamScore.regulation?.abl_points : 0 }} </td>
              <td ><em>{{(teamScore ? teamScore.regulation?.abl_runs : 0) | number:'1.2-2' }}</em> </td>
            </tr>
            <tr>
              <th scope="row" colspan =2>Game Totals</th>
              <th>  {{teamScore.final?.g }} </th>
              <th> {{teamScore ?  teamScore.final?.ab : 0 }} </th>
              <th> {{teamScore ?  teamScore.final?.h : 0 }} </th>
              <th >{{teamScore.final ?  teamScore.final['2b'] : 0 }} </th>
              <th >{{teamScore.final ?  teamScore.final['3b'] : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.hr : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.bb: 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.hbp : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sac : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sf : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.sb : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.cs : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.e : 0 }} </th>
              <th >{{teamScore ?  teamScore.final?.abl_points : 0 }} </th>
              <th >{{(teamScore ? teamScore.final?.abl_runs : 0) | number:'1.2-2' }} </th>
            </tr>
            <tr>
              <th scope="row" colspan =16 class="text-center">
                <button mat-button color="primary" type="button" (click)="showBench = !showBench">
                  Bench (click to expand/collapse)
                </button>
              </th>
            </tr>
            </tbody>
          <tbody 
                 *ngIf="showBench && true"
                     cdkDropList
                 [cdkDropListDisabled]="!editable"
                  [cdkDropListData]="bench"
                 (cdkDropListEntered)="enter($event)"
                 (cdkDropListDropped)="drop($event)" >
            <tr *ngFor="let player of bench ; index as i" cdkDrag 
                (cdkDragStarted)="toggleDrag('bench')"
                (cdkDragEnded)="toggleDrag('')"
                [ngClass]="(player.ablstatus != 'active' && status == 'final' ? 'table-dark': '')" >
              
              <div class="example-custom-placeholder" *cdkDragPlaceholder>Move {{player.player.name}} Here</div>

              <th scope="row">{{player.playedPosition || (status == 'final' ? "B" : player.lineupPosition)}}</th>
              <td>{{player.player.name}} <small>({{player.player.position}} - {{player.player.team}})</small></td>
              <td>{{ player.dailyStats?.g }} </td>
              <td> {{ player.dailyStats?.ab }} </td>
              <td> {{ player.dailyStats?.h }} </td>
              <td >{{ player.dailyStats ? player.dailyStats['2b'] : '' }} </td>
              <td >{{ player.dailyStats ? player.dailyStats['3b'] : '' }} </td>
              <td >{{  player.dailyStats?.hr }} </td>
              <td >{{ player.dailyStats?.bb}} </td>
              <td >{{ player.dailyStats?.hbp  }} </td>
              <td >{{ player.dailyStats?.sac  }} </td>
              <td >{{ player.dailyStats?.sf  }} </td>
              <td >{{ player.dailyStats?.sb  }} </td>
              <td >{{ player.dailyStats?.cs  }} </td>
              <td >{{ player.dailyStats?.e  }} </td>
              <td >{{ player.dailyStats?.abl_score?.abl_points }} </td>
              <td >{{ player.dailyStats?.abl_score?.abl_runs  | number:'1.2-2' }} </td>

            </tr>

          </tbody>  
            <tfoot>

          </tfoot>
        </table>
          
              <span class="alert alert-success d-block" role="alert" *ngIf="!roster">
            This score was saved with an old version of the application. Click save to add player data to stored record.   
          </span>
          </ng-container>

        
        
      </div>