.mat-cell {
  padding: 8px 8px 8px 0;
}
.mat-header-cell {
  padding: 8px 8px 8px 0;
}

.table {
  width: 100%;
}
.table-full {
  width: 100% !important;
  font-size: 1.2rem !important;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
}

.highlight-border {
  border: 1px dashed green;
  min-height: 200px;
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media all and (min-width: 768px) {
  tr  {
    td {
      vertical-align: middle !important;
    }
    span {
      &:not([class]) {
        padding: 0.2rem 0.2rem;
      }
    }
  }
}