.message-tree-invisible {
  display: none;
}

.message-tree ul,
.message-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.message-tree .mat-tree-node, .mat-nested-tree-node {
  padding: 10px 10px 10px 10px;
}

.message-tree div > .mat-tree-node, .mat-nested-tree-node {
  padding: 20px 0px 0px 0px;
}


.liked {
 color: blue;
 font-family: 'Material Icons' !important
}

.message-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.message-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}
