<h3>
  Teams
</h3>
<ng-template [ngIf]="teamList">
  <ng-template [ngIf]="teamList.length">

    <!-- Teams listing -->
    <section class="list-group">
      <a *ngFor="let team of fs.orderByDate(filteredTeams, 'location')" [routerLink]="['/team', team._id]" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{team.location + ' ' + team.nickname}}</h5>
          <span *ngFor="let owner of team.owners">{{ owner.name }}</span>
        </div>
      </a>
    </section>
  </ng-template>
  <a [routerLink]="['/create/team']"> Create new team </a>


  <!-- No upcoming public events available -->
  <p *ngIf="!teamList.length" class="alert alert-info">
    No public teams.
  </p>
</ng-template>

<!-- Error loading events -->
<p *ngIf="error" class="alert alert-danger">
  <strong>Oops!</strong> There was an error retrieving team data.
</p>