



<button mdbBtn type="button" color="success" mdbWavesEffect *ngIf="editable && lineupChanged" (click)="_updateRosterRecord()">Save Changes</button>


<div class="container example-table-container example-list" cdkDropList [cdkDropListDisabled]=!editable (cdkDropListDropped)="dropLineupRecord($event)" >

  <table mat-table [dataSource]="(displayRoster$ | async)" class="roster-table" >

    <ng-container matColumnDef="player.name" >
      <th mat-header-cell *matHeaderCellDef >Player</th>
      <td mat-cell *matCellDef="let rosterRec"> {{ rosterRec.player.name }} ({{ rosterRec.player.team }} - {{rosterRec.player.eligible?.join()}})
        <span *ngIf="rosterRec.player.ablstatus.acqType == 'pickup'">
          Pickup
          <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="_dropPlyr(rosterRec.player._id)">Drop</button>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="player.drop">
      <th mat-header-cell *matHeaderCellDef><th>
      <td mat-cell *matCellDef="let rosterRec">

      </td>
    </ng-container>
    <ng-container matColumnDef="player.status">
      <th mat-header-cell *matHeaderCellDef>Status<th>

        <td mat-cell *matCellDef="let rosterRec">
          <span class="badge bg-danger" *ngIf="!rosterRec.player.fortyMan">{{'Outdated status. Not on 40-Man roster.'}}</span>
            {{rosterRec.player.status}}
      </td>
    </ng-container>
    <ng-container matColumnDef="lineupPosition" >
        <th mat-header-cell *matHeaderCellDef >Position</th>
        <td mat-cell *matCellDef="let rosterRec">

          <mat-select *ngIf="editable && rosterRec.player.eligible.length > 1" [(ngModel)]="rosterRec.lineupPosition" (selectionChange)="changePos($event)" >
            <mat-option *ngFor="let pos of rosterRec.player.eligible" [value]="pos">{{pos}}</mat-option>
          </mat-select>


<!--
            <select [(ngModel)]="rosterRec.lineupPosition" *ngIf="editable && rosterRec.player.eligible.length > 1" (onchange)="changePos($event)">
                <option *ngFor="let pos of rosterRec.player.eligible"  [value]="pos">{{pos}}</option>
            </select> -->
            <span *ngIf="!editable || rosterRec.player.eligible.length <= 1">{{rosterRec.lineupPosition}}</span>

        </td>
      </ng-container>
      <ng-container matColumnDef="drag_handle">
        <th mat-header-cell *matHeaderCellDef>Move</th>
        <td mat-cell *matCellDef="let rosterRec">
          <span *ngIf="editable" class=" example-handle " cdkDragHandle><mat-icon> drag_handle</mat-icon></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="abl_runs" >
        <th mat-header-cell *matHeaderCellDef >ABL</th>
        <td mat-cell *matCellDef="let rosterRec">{{ rosterRec.player.abl  | number:'1.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="stats" >
        <th mat-header-cell *matHeaderCellDef >Stats</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" class=" d-none d-md-block">{{rosterRec.player.stats.batting.gamesPlayed}} G,
            {{rosterRec.player.stats.batting.atBats}} AB,
            {{rosterRec.player.stats.batting.hits}} H,
            {{rosterRec.player.stats.batting.doubles}} 2B,
            {{rosterRec.player.stats.batting.triples}} 3B,
            {{rosterRec.player.stats.batting.homeRuns}} HR,
            {{rosterRec.player.stats.batting.baseOnBalls + rosterRec.player.stats.batting.intentionalWalks}} BB/IBB,
            {{rosterRec.player.stats.batting.hitByPitch}} HBP,
            {{rosterRec.player.stats.batting.stolenBases}} SB,
            {{rosterRec.player.stats.batting.caughtStealing}} CS
            </span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="['drag_handle', 'lineupPosition', 'player.name', 'player.status', 'abl_runs', 'stats']"></tr>
    <tr cdkDrag mat-row *matRowDef="let row; columns: ['drag_handle', 'lineupPosition', 'player.name' , 'player.status', 'abl_runs', 'stats'];"
    [ngClass]="{ 'dirty-box': row.changed}"
    ></tr>
  </table>
</div>


<!--
<div class="container" >
  <div class="row" >
    <div class="col-sm-1">
      <span class="fw-bold">Position </span>
    </div>

    <div class="col-sm-3">
      <span class="fw-bold">Player</span>
    </div>
    <div class="col-sm-1">
      <span class="fw-bold">ABL Runs</span>
    </div>
    <div class="col-sm-7">
      <span class="fw-bold">Stat Summary</span>

    </div>

  </div>
</div>





<div class="container example-list" cdkDropList [cdkDropListDisabled]=!editable (cdkDropListDropped)="dropLineupRecord($event)"  *ngIf='true'>
  <div class="example-box alt row" *ngFor="let rosterRec of lineup.roster; index as i;" cdkDrag [ngClass]="{ 'dirty-box': rosterRec.rosterOrder != (i+1) ||
          rosterRec.lineupPosition != originalLineup.roster[i].lineupPosition ||
          rosterRec.player?.mlbID != originalLineup.roster[i].player?.mlbID}">
    <div class="col-sm-1">
      <span *ngIf="editable" class=" example-handle " cdkDragHandle><mat-icon> drag_handle</mat-icon></span>
      <select [(ngModel)]="rosterRec.lineupPosition" *ngIf="editable && rosterRec.player.eligible.length > 1">
        <option *ngFor="let pos of rosterRec.player.eligible"  [value]="pos">{{pos}}</option>
      </select>
      <span *ngIf="!editable || rosterRec.player.eligible.length <= 1">{{rosterRec.lineupPosition}}</span>

    </div>

    <div class="col-sm-3">
      <span *ngIf="rosterRec.player.ablstatus.acqType == 'pickup'">
        Pickup
        <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="_dropPlyr(rosterRec.player._id)">Drop</button>

      </span>
      <span>{{ rosterRec.player.name }} ({{ rosterRec.player.team }} - {{rosterRec.player.eligible?.join()}})</span>
    </div>
    <div class="col-sm-1">
      <strong *ngIf="rosterRec.player.stats">{{ abl(rosterRec.player.stats.batting) | number }}</strong>

    </div>
    <div class="col-sm-7">
      <span *ngIf="rosterRec.player.stats" class=" d-none d-md-block">{{rosterRec.player.stats.batting.gamesPlayed}} G,
        {{rosterRec.player.stats.batting.atBats}} AB,
        {{rosterRec.player.stats.batting.hits}} H,
        {{rosterRec.player.stats.batting.doubles}} 2B,
        {{rosterRec.player.stats.batting.triples}} 3B,
        {{rosterRec.player.stats.batting.homeRuns}} HR,
        {{rosterRec.player.stats.batting.baseOnBalls + rosterRec.player.stats.batting.intentionalWalks}} BB/IBB,
        {{rosterRec.player.stats.batting.hitByPitch}} HBP,
        {{rosterRec.player.stats.batting.stolenBases}} SB,
        {{rosterRec.player.stats.batting.caughtStealing}} CS
        </span>

    </div>

  </div>
</div> -->
