
<button mdbBtn type="button" color="success" mdbWavesEffect *ngIf="saveable()" (click)="_updateRosterRecord()">Save Changes</button>



<div class="alert alert-danger" role="alert" *ngIf="getActiveRosterLength()>24">
Too many active players ({{getActiveRosterLength()}}). You must drop pickup(s) or move eligible player(s) to IL before saving.
</div>
<div class="alert alert-danger" role="alert" *ngFor="let inel of ineligiblePositions()">
  Player: {{inel.player.name}} is not eligible for position: {{ inel.lineupPosition}}. You must resolve this issue in order to save a new lineup.
</div>



<div class="container example-table-container example-list" cdkDropList [cdkDropListDisabled]=!editable (cdkDropListDropped)="dropLineupRecord($event)" >

  <table mat-table [dataSource]="(dispRoster$ | async)" class="roster-table" >

    <ng-container matColumnDef="player.name" >
      <th mat-header-cell *matHeaderCellDef >Player</th>
      <td mat-cell *matCellDef="let rosterRec"> {{ rosterRec.player.name }} ({{ rosterRec.player.team }} - {{rosterRec.player.eligible?.join()}})
        <span *ngIf="rosterRec.player.ablstatus.acqType == 'pickup' ">
          Pickup

        </span>
        <button mat-icon-button color="warn" *ngIf="editable && dropPlayerAllowed(rosterRec)" (click)="_dropPlyr(rosterRec.player._id)"><mat-icon>person_remove</mat-icon></button>
      </td>
    </ng-container>
    <ng-container matColumnDef="player.drop">
      <th mat-header-cell *matHeaderCellDef><th>
      <td mat-cell *matCellDef="let rosterRec">

      </td>
    </ng-container>
    <ng-container matColumnDef="player.status">
      <th mat-header-cell *matHeaderCellDef>Status<th>

        <td mat-cell *matCellDef="let rosterRec">
          <span class="badge bg-danger" *ngIf="!rosterRec.player.status">{{'N/A'}}</span>
            {{rosterRec.player.status}}
      </td>
    </ng-container>
    <ng-container matColumnDef="lineupPosition" >
        <th mat-header-cell *matHeaderCellDef >Position</th>
        <td mat-cell *matCellDef="let rosterRec">

          <mat-select [disabled]="!editable" panelClass="myPanel" *ngIf="(editable && rosterRec.player.eligible.length > 1 ) || (rosterRec.player.eligible[0] != rosterRec.lineupPosition) || (rosterRec.player?.status?.indexOf('Injured')!= -1) || (rosterRec.player?.status?.indexOf('Minors')!= -1); else placeholder_position" [(ngModel)]="rosterRec.lineupPosition" (selectionChange)="changePos($event)" >
            <mat-option *ngFor="let pos of rosterRec.player.eligible" [value]="pos">{{pos}}</mat-option>
            <mat-option *ngIf="alternate_elig(rosterRec.player) as altPos" [value]="altPos">{{altPos}}</mat-option>

            <!-- <mat-option *ngIf="rosterRec.player?.status.indexOf('Injured')!= -1" value="INJ">INJ</mat-option>
            <mat-option *ngIf="rosterRec.player?.status.indexOf('Minors')!= -1" value="NA">NA</mat-option> -->
          </mat-select>
          <ng-template #placeholder_position><span>{{rosterRec.lineupPosition}}</span></ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="drag_handle">
        <th mat-header-cell *matHeaderCellDef>Move</th>
        <td mat-cell *matCellDef="let rosterRec">
          <span *ngIf="editable" class=" example-handle " ><mat-icon cdkDragHandle (touchstart)="dragDisabled = false" (touchend)="dragDisabled = true" (mousedown)="dragDisabled= false" (mouseup)="dragDisabled=true"> drag_handle</mat-icon></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="abl_runs" >
        <th mat-header-cell *matHeaderCellDef >ABL</th>
        <td mat-cell *matCellDef="let rosterRec">{{ rosterRec.player.abl  | number:'1.2-2' }}</td>
      </ng-container>
      <ng-container matColumnDef="stats" >
        <th mat-header-cell *matHeaderCellDef >Stats</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" class=" d-none d-md-block">{{rosterRec.player.stats?.batting?.gamesPlayed}} G,
            {{rosterRec.player.stats?.batting?.atBats}} AB,
            {{rosterRec.player.stats?.batting?.hits}} H,
            {{rosterRec.player.stats?.batting?.doubles}} 2B,
            {{rosterRec.player.stats?.batting?.triples}} 3B,
            {{rosterRec.player.stats?.batting?.homeRuns}} HR,
            {{rosterRec.player.stats?.batting?.baseOnBalls + rosterRec.player.stats?.batting?.intentionalWalks}} BB/IBB,
            {{rosterRec.player.stats?.batting?.hitByPitch}} HBP,
            {{rosterRec.player.stats?.batting?.stolenBases}} SB,
            {{rosterRec.player.stats?.batting?.caughtStealing}} CS
            </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="player.stats.batting.gamesPlayed" >
        <th mat-header-cell *matHeaderCellDef >G</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.gamesPlayed}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.atBats" >
        <th mat-header-cell *matHeaderCellDef >AB</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.atBats}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.hits" >
        <th mat-header-cell *matHeaderCellDef >H</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.hits}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.doubles" >
        <th mat-header-cell *matHeaderCellDef >2B</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats">{{rosterRec.player.stats?.batting?.doubles}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.triples" >
        <th mat-header-cell *matHeaderCellDef >3B</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.triples}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.homeRuns" >
        <th mat-header-cell *matHeaderCellDef >HR</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats">{{rosterRec.player.stats?.batting?.homeRuns}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.baseOnBalls" >
        <th mat-header-cell *matHeaderCellDef >BB+IBB</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.baseOnBalls + rosterRec.player.stats?.batting?.intentionalWalks}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.hitByPitch" >
        <th mat-header-cell *matHeaderCellDef >HBP</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.hitByPitch}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.stolenBases" >
        <th mat-header-cell *matHeaderCellDef >SB</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.stolenBases}}
            </span>
        </td>
      </ng-container>
      <ng-container matColumnDef="player.stats.batting.caughtStealing" >
        <th mat-header-cell *matHeaderCellDef >CS</th>
        <td mat-cell *matCellDef="let rosterRec"><span *ngIf="rosterRec.player.stats" >{{rosterRec.player.stats?.batting?.caughtStealing}}
            </span>
        </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr cdkDrag mat-row *matRowDef="let row; columns: displayedColumns;" [cdkDragDisabled]="dragDisabled" (cdkDragReleased)="dragDisabled = true" [ngClass]="{ 'dirty-box': plyrChanged(row), 'nonstarter': !isStarter(row)  }"></tr>
  </table>
</div>
