<!-- src/app/pages/admin/team-form/team-form.component.html -->
<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <div class="form-group">
    <label for="nickname">Nickname</label>
    <input
      id="nickname"
      type="text"
      class="form-control"
      formControlName="nickname"
      [maxlength]="tf.nicknameMax">
    <div
      *ngIf="formErrors.nickname"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.nickname">
    </div>
  </div>

  <!-- Location -->
  <div class="form-group">
    <label for="location">Location</label>
    <input
      id="location"
      type="text"
      class="form-control"
      formControlName="location"
      [maxlength]="tf.locMax">
    <div
      *ngIf="formErrors.location"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.location">
    </div>
  </div>
  <!-- Stadium -->
  <div class="form-group">
    <label for="stadium">Stadium</label>
    <input
      id="stadium"
      type="text"
      class="form-control"
      formControlName="stadium"
      [maxlength]="tf.textMax">
    <div
      *ngIf="formErrors.stadium"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.stadium">
    </div>
  </div>
  
Owners

   <section class="list-group" formArrayName="owners">
      <div *ngFor="let owner of teamForm.get('owners').controls; let i = index;" class="list-group-item list-group-item-action flex-column align-items-start">
        <div [formGroupName]="i" class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            
            <div>
              <span *ngIf="teamForm.controls.owners.controls[i].controls.verified.value">
                Name: {{teamForm.controls.owners.controls[i].controls.name.value}}
              </span>

              <span *ngIf="!teamForm.controls.owners.controls[i].controls.verified.value">
                <strong>Unverified</strong>: User will need to log in and claim team to be able to manage team.
                <div>
                  <span  class='col-4'>
                    <label for="name">Name: </label> 
                    <input id="name" 
                           type="text"
                           formControlName="name" 
                           placeholder="name">
  <!--                   <label for="email">Email</label> 
                    <input id="email" 
                           type="text"
                           formControlName="email" 
                           placeholder="email"> -->
                     
                  </span>
                  <span class="col-4"></span>
                  <span class='col-4'>
                    Is this you? <button class="btn btn-info btn-xs" type="button" (click)="_verifyCurrentOwner(i)">Claim Team</button>
                  </span>

                </div>
              </span>                     

             <button class="btn btn-danger btn-xs" 
                      type="button"
                      (click)="deleteOwner(i)"> Delete Owner</button>

              </div>
          </h5>
          
        </div>

      </div>      
      <button class="btn btn-success" 
              type="button"
              (click)="addOwner()">Invite another owner</button>
     <div
      *ngIf="formErrors.owners"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.owners">
    </div>
    </section>


  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [attr.disabled]="teamForm.invalid || submitting ? true : null"
      [innerText]="submitBtnText"></button>
      <!-- https://github.com/angular/angular/issues/11271#issuecomment-289806196 -->
    <app-submitting *ngIf="submitting"></app-submitting>
    <a
      *ngIf="!submitting"
      class="btn btn-link"
      (click)="resetForm()"
      tabindex="0">Reset Form</a>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the team. Please try again.
    </p>
  </div>
</form>