.highlight {
  background-color: yellow;
  }
  .draft-cell {
  border: 1px solid darkslategrey;
  }
  .header-cell {
  background-color:darkblue;
  border: 1px solid darkslategrey;
  color: white;
  font-weight: bold;
  text-align: center;
  }
  .next-pick {
  background-color: lightblue;
  border: 1px solid darkblue;

  }
  .inactive-round {
    display: none
  }



  .flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    min-width: 100%;
    overflow: auto;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
    align-items: stretch;

  }
  .flex-row-rev {

    display: flex;
    flex-direction: row-reverse;
    min-width: 100%;
    justify-content: space-around;
    align-items: stretch;
  }


  .flex-col {
    flex: 1
  }

  .selected-team {

    flex: 20%;
  }
  .right-draft-board {
  flex: 80%;
  }
  .draft-history {
    flex:10%;
  }
  .players-list {
  }

  @media (max-width: 800px) {
    .selected-team, .right-draft-board,  .players-list {
      flex: 100%;
    }
  }
  @media (max-width: 800px) {
    .draft-history {
      max-width: 50%
    }
  }

  .no-pick {
   background-color: darkgray;
   width: 100%;
  }
