<p>{{pageTitle}}</p>

<div *ngIf="draftSseService.draftOrder$ | async as draftData" class="flex-container">

<div *ngIf=" draftData.rosters as rosters" class="flex-container">


 <div class="selected-team">
  <div>
    {{draftData.currentPick | json}}
  </div>
  <mat-form-field appearance="fill" style="width:100%">
    <mat-label>Teams</mat-label>
    <mat-select [(ngModel)]="selectedTeam">
      <mat-option *ngFor="let tm of rosters" [value]="tm">
        {{tm.nickname}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngFor="let plyr of selectedTeam?.roster?.roster">
    <strong>{{plyr.lineupPosition}} </strong>| {{plyr.player.name}} ({{plyr.player.team}} - {{plyr.player.eligible.toString()}})
  </div>

</div>
<div class="right-draft-board">
  <div class="flex-container">

      <div *ngFor='let draftTm of rosters; let c=index' class="draft-history">
        <div class="header-cell">{{draftTm.nickname}}</div>
        <div *ngFor='let rd of rounds; let r= index'>
          <div class="draft-cell" [ngClass]="{'next-pick': rd == draftData.currentPick.row && c == draftData.currentPick.column,
          'no-pick': rd >= draftTm.picks_allowed,
          'inactive-round': rd >draftData.currentPick.row
        }">
            <div *ngIf="draftTm?.origRoster">
              <span *ngIf="rd < draftTm.picks_allowed && draftTm.origRoster[rd]?.player">
                {{draftTm.origRoster[rd]?.player?.name}} ({{draftTm.origRoster[rd]?.player?.team}} - {{draftTm.origRoster[rd]?.player?.eligible.toString()}})
              </span>
              <span *ngIf="draftTm?.origRoster[rd] == 'Skip'"> Pick Skipped </span>
              <!-- <span *ngIf="!draftTm?.origRoster[rd]?.player && rd < draftTm?.picks_allowed"> <button (click)="_addSkip(draftTm)">Skip Pick</button> </span> -->
              <span *ngIf="rd >= draftTm?.picks_allowed">
                n/a
              </span>
            </div>
          </div>
        </div>
      </div>

  </div>
  <div class="players-list">
    <app-player-list class="container-fluid"
    [players$]="players.allPlayers$"
    [colNames]="colNames"
    [ownerPrimaryTeam]="ownerPrimaryTeam"
    defaultAddType="draft"
    [actionEligible]="ownerPrimaryTeam.nickname == rosters[draftData.currentPick.column].nickname"
    >
    </app-player-list>
  </div>
</div>

<!-- ownerPrimaryTeam.nickname == rosters[draftData.currentPick.column].nickname -->


</div>

</div>

