

<h3>
  {{pageTitle}}
</h3>

<div *ngIf="rosterService.allRostersObs$ | async as rosters">
 <!-- Active Players1: {{activeRoster(ownerPrimaryTeam?._id, rosters).length}} -->
 <span *ngIf="rosterService.activeRoster$ | async as currentRoster">
  Active Players2: {{currentRoster.active_roster.length}}
</span>

<!-- src/app/pages/games/games.component.html -->
<app-player-list
[players$]="players.allPlayers$"
[colNames]="colNames"
[ownerPrimaryTeam]="ownerPrimaryTeam"
defaultAddType="pickup"
[actionEligible]="activeRoster(ownerPrimaryTeam?._id, rosters).length < 27"
>
</app-player-list>
</div>
