

<h3>
  {{pageTitle}}
</h3>

<div *ngIf="rosterService.allRostersObs$ | async as rosters">
 <!-- Active Players1: {{activeRoster(ownerPrimaryTeam?._id, rosters).length}} -->
<div *ngIf="rosterService.activeRoster$ | async as currentRoster">

  <span >
    Active Players: {{currentRoster.active_roster.length}}
  </span>

<!-- src/app/pages/games/games.component.html -->
<app-player-list
[players$]="players.allPlayers$"
[colNames]="colNames"
[ownerPrimaryTeam]="ownerPrimaryTeam"
defaultAddType="pickup"
[actionEligible]="currentRoster.active_roster.length < 27"
>
</app-player-list>
</div>
</div>
