

<h3>
   Players
</h3>


<div class="btn-group shadow-0" role="group">
  <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="showPlayers = 'available'; updateTakenPlayers('available')">Available</button>
  <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="showPlayers = 'taken'; updateTakenPlayers('taken')">Taken</button>
  <button type="button" class="btn btn-link" data-mdb-color="dark" (click)="showPlayers = 'all'; updateTakenPlayers('all')">All</button>
</div>

<mat-slide-toggle
          
          color="primary"
          checked="false"
          [(ngModel)] = "advancedMode"
          >
        Advanced Mode
      </mat-slide-toggle>

<table datatable 
       [dtOptions]="dtOptions" 
       [dtTrigger]="dtTrigger"
       class="row-border hover table-responsive">
  <thead>
    
     <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
          <mat-select placeholder="Pos" [(value)]="filterPos" (selectionChange)='changePositionFilter()'>
          <mat-option> Any </mat-option>
          <mat-option *ngFor="let pos of ['1B', '2B', '3B', 'SS', 'OF', 'C', 'DH']" [value]="pos">
            {{ pos }}
          </mat-option>
        </mat-select>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr>
    <th>Player Name</th>
    <th>MLB Id</th>
    <th>ABL Team</th>
      <th>Acq</th>

      <th>Position</th>
    <th>Team</th>
      
      <th>Status</th>
    <th>Updated</th>
      <th>ABL Runs</th>
     <th>G</th>
     <th>AB</th>
     <th>H</th>
     <th>2B</th>
     <th>3B</th>
     <th>HR</th>
     <th>BB + IBB</th>
     <th>HBP</th>
     <th>SB</th>
     <th>CS</th>
      <th>Action</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let player of filteredPlayers">
      <td>{{player.name}}</td>
      <td>{{player.mlbID}}</td>
      <td>{{player.ablstatus?.ablTeam ? player.ablstatus.ablTeam.nickname : ''}}</td> 
      <td>{{player.ablstatus?.acqType ? player.ablstatus.acqType : ''}}</td>
      <td>{{player.eligible?.join(",")}}</td>
      <td>{{player.team}}</td>
      <td>{{player.status}}</td>
      <td> {{player.lastUpdate | date:'shortDate'}}</td>
      <td> {{abl(player.stats.batting) | number }} </td>
      <td> {{player.stats.batting.gamesPlayed}}</td>
      <td> {{player.stats.batting.atBats }}</td>
      <td>{{player.stats.batting.hits}}</td>
      <td> {{player.stats.batting.doubles}} </td>
      <td>{{player.stats.batting.triples}}</td>
      <td>{{player.stats.batting.homeRuns}}</td>
      <td>{{player.stats.batting.baseOnBalls + player.stats.batting.intentionalWalks}}</td>
      <td>{{player.stats.batting.hitByPitch}}</td>
      <td> {{player.stats.batting.stolenBases}}</td>
      <td>{{player.stats.batting.caughtStealing}}</td>
      <td>
        
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="_addPlayerToTeam(player)" *ngIf="!player.ablstatus?.ablTeam && !draftMode">
          <mdb-icon fas icon="user-plus"></mdb-icon>
        </button>
        <mat-checkbox
            class="example-margin"
            [(ngModel)]="player.draftMe"
            *ngIf="draftMode">
          Include in draft
        </mat-checkbox>
        
      </td>
    </tr>
  </tbody>
</table>



  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving player data.
  </p>