<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="modelDate" (dateChange)="_dateChanged('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>



<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="gamesList">
    <ng-template [ngIf]="gamesList.length">

      <!-- Search events -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchGames()" />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredGames, query)" class="alert alert-warning">
        No games found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <!-- Events listing -->
<!--       <section class="list-group">
        <a
          *ngFor="let game of fs.orderByDate(filteredGames, 'startDatetime')"
          [routerLink]="['/game', game._id]"
          class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="row">
            <div class="col"><strong *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</strong> @ <strong *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</strong></div>
            <div class="col">{{game.gameDate | date:'longDate'}}</div>
            <div class="col" ><span *ngIf="getGameScore(game, 'A') as awayScore">{{awayScore.final.abl_runs | number:'1.2-2'}}</span></div>
            <div class="col" ><span *ngIf="getGameScore(game, 'H') as homeScore">{{homeScore.final.abl_runs | number:'1.2-2'}}</span></div>
            <div class="col">Away<span *ngIf="getGameAttester(game.results?.attestations, 'away') as attestation; then thenBlock else elseBlock"> </span></div>
            <div class="col">Home<span *ngIf="getGameAttester(game.results?.attestations, 'home') as attestation; then thenBlock else elseBlock"> </span></div>
            <ng-template #thenBlock> Attested!</ng-template>
            <ng-template #elseBlock> Nope!</ng-template>
            
          </div>

        </a>
      </section> -->
      
      <table mdbTable class="table table-responsive table-sm">
        <thead>
          <tr>
            <th *ngFor="let head of headings" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let game of fs.orderByDate(filteredGames, 'gameDate')">
            <th scope="row"><strong *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</strong> @ <strong *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</strong></th>
            <td>{{game.gameDate | date:'longDate'}}</td>
            <td><span *ngIf="getGameScore(game, 'A') as awayScore">{{awayScore.final.abl_runs | number:'1.2-2'}}</span></td>
            <td><span *ngIf="getGameScore(game, 'H') as homeScore">{{homeScore.final.abl_runs | number:'1.2-2'}}</span></td>
            <td><span *ngIf="getGameAttester(game.results?.attestations, 'away') as attestation; then thenBlock else elseBlock"> </span></td>
            <td><span *ngIf="getGameAttester(game.results?.attestations, 'home') as attestation; then thenBlock else elseBlock"> </span></td>
            <ng-template #thenBlock>Attested!</ng-template>
            <ng-template #elseBlock>Nope!</ng-template>
          </tr>
        </tbody>
      </table>
     
    </ng-template>

    <!-- No upcoming public events available -->
    <p *ngIf="!gamesList.length" class="alert alert-info">
      No upcoming public games available.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving game data.
  </p>

</ng-template>
