<!-- src/app/pages/games/games.component.html -->
<h1 class="text-center">{{ pageTitle }}</h1>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="modelDate" (dateChange)="_dateChanged('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>



<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="gamesList">
    <ng-template [ngIf]="gamesList.length">

      <!-- Search events -->
      <label class="sr-only" for="search">Search</label>
      <div class="search input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">Search</div>
        </div>
        <input
          id="search"
          type="text"
          class="form-control"
          [(ngModel)]="query"
          (keyup)="searchGames()" />
        <span class="input-group-append">
          <button
            class="btn btn-danger"
            (click)="resetQuery()"
            [disabled]="!query">&times;</button>
        </span>
      </div>

      <!-- No search results -->
      <p *ngIf="fs.noSearchResults(filteredGames, query)" class="alert alert-warning">
        No games found for <em class="text-danger">{{ query }}</em>, sorry!
      </p>

      <ng-container class="table-responsive">
      <table mdbTable class="table table-sm">
        <thead>
          <tr>
            <th *ngFor="let head of headings" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let game of fs.orderByDate(filteredGames, 'gameDate')">
            <th scope="row">
              <a [routerLink]="['/game', game._id]">
                <strong *ngIf="game.awayTeam">{{game.awayTeam.nickname }}</strong> @ <strong *ngIf="game.homeTeam">{{game.homeTeam.nickname}}</strong>
              </a>
            </th>
            <td>{{game.gameDate | date:'longDate'}}</td>
            <ng-container *ngIf="!game.results || game.results?.length == 1; else gotoDetailBlock">
            
            
            <td><span *ngIf="getGameScore(game, 'A') as awayScore">{{awayScore.final.abl_runs | number:'1.2-2'}}</span></td>
            <td><span *ngIf="getGameScore(game, 'H') as homeScore">{{homeScore.final.abl_runs | number:'1.2-2'}}</span></td>
            
            <ng-template #attestTemplate let-game let-attest="attest" let-team="team" let-loc="loc">
              <mdb-icon *ngIf="attest" far icon="check-square"></mdb-icon>
              <div *ngIf="!attest">
                  <button *ngIf="team && _userInGame(team)" type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark" (click)="_saveResult(game , loc)">
                    <i class="far check-square"></i> Attest to Boxscore
                  </button>
                <mdb-icon *ngIf="!_userInGame(team)" far icon="square"></mdb-icon>
              </div>
            </ng-template>
            
            <td>
              <ngContainer 
                 [ngTemplateOutlet]="attestTemplate"
                 [ngTemplateOutletContext]="{ $implicit: game, attest: getGameAttester(game.results, 'away'), team: game.awayTeam , loc: 'away'}"> 
              </ngContainer>
            </td>
            
            <td>
              <ngContainer 
                 [ngTemplateOutlet]="attestTemplate"
                 [ngTemplateOutletContext]="{$implicit: game, attest: getGameAttester(game.results, 'home') , team: game.homeTeam , loc: 'home'}"> 
              </ngContainer>
            </td>
            </ng-container>
            <ng-template #gotoDetailBlock>
            <td colspan=4> 
              <span *ngIf="game.results?.length >1">Game has multiple stored results.</span>
              <span *ngIf="game.results?.length ==0">Results have not been calculated for this game yet.</span>
                Go To <a [routerLink]="['/game', game._id]">Detail
                </a>
              </td>
            </ng-template>
            
          </tr>
        </tbody>
      </table>
      </ng-container>
      
     
    </ng-template>

    <!-- No upcoming public events available -->
    <p *ngIf="!gamesList.length" class="alert alert-info">
      No upcoming public games available.
    </p>
  </ng-template>

  <!-- Error loading events -->
  <p *ngIf="error" class="alert alert-danger">
    <strong>Oops!</strong> There was an error retrieving game data.
  </p>

</ng-template>
